/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 * 3.Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/**
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Addresses font sizes and margins set differently in IE 6/7.
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Addresses margins set differently in IE 6/7.
 */
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 *  Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
/*
 * Mixin for micro clearfix
 * @include microclearfix;
*/
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e600";
}

.icon-twitter:before {
  content: "\e601";
}

.icon-tumblr:before {
  content: "\e602";
}

.icon-facebook:before {
  content: "\e603";
}

.icon-envelope:before {
  content: "\e604";
}

.icon-info:before {
  content: "\e605";
}

.icon-instagram:before {
  content: "\e606";
}

.icon-plus-close:before {
  content: "\e607";
}

.icon-rss:before {
  content: "\e608";
}

.icon-instagram:before {
  content: "\e609";
}

.icon-envelope:before {
  content: "\e60a";
}

.icon-pinterest:before {
  content: "\e60b";
}

.icon-facebook:before {
  content: "\e60c";
}

.icon-twitter:before {
  content: "\e60d";
}

.icon-tumblr:before {
  content: "\e60e";
}

.icon-plus:before {
  content: "\e60f";
}

.icon-next:before {
  content: "\e610";
}

.icon-prev:before {
  content: "\e611";
}

.icon-menu:before {
  content: "\e612";
}

.icon-back:before {
  content: "\e613";
}

.icon-volume-up:before {
  content: "\e614";
}

.icon-volume-off:before {
  content: "\e615";
}

@media only screen and (min-width: 43.75em) {
  .titleContainer, .series__Navigation a, .tumblr_photo_post img, .tumblr_photo_post .tumblr_caption, .tumblr_photo_post .tumblr-title, .tumblr_title, #pickings .tumblr_caption > p, #periscope .tumblr_link_post > a, .ib {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }
  .titleContainer a, .series__Navigation a a, .tumblr_photo_post img a, .tumblr_photo_post .tumblr_caption a, .tumblr_photo_post .tumblr-title a, .tumblr_title a, #pickings .tumblr_caption > p a, #periscope .tumblr_link_post > a a, .ib a {
    font-size: 1rem;
  }
}

.page__Container:before, .series__Container:before, .series:before, .series__Navigation:before, .page__Container:after, .series__Container:after, .series:after, .series__Navigation:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.page__Container:after, .series__Container:after, .series:after, .series__Navigation:after {
  clear: both;
}

@media only screen and (min-width: 43.75em) {
  .series .project.active, .series__Navigation {
    float: left;
  }
}

.playButton, .nextPrevIcon i, form input, form textarea, #menu-primary, #menu-primary a, .series .project.active {
  display: block;
}

.series__Navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  display: inline-block;
  font-size: 1rem;
}

#page-header a {
  text-decoration: none;
}

.page__Title, .titleContainer, .section__Title, .insetBorder, #menu-social-nav, .series__Navigation h3, .series__Navigation a, .page-work .series, .pagination, .gform_footer, .logoColumn {
  text-align: center;
}

.page__Title, form label, h1, #page-header a, .series__Navigation h3, .page-work h2.series-title, .gform_footer .gform_button, #periscope .tumblr_link_post > a {
  text-transform: uppercase;
}

.page__Container, .singlePost__Nav a i, #page-header, #menu-primary, #menu-social-nav .icon-envelope, .series__Container, #playArea, .work-slide, .videoContainer, .relative {
  position: relative;
}

.playButton, .singlePost__Nav a, .previous, .next, .previous .relative i, .next .relative i, #playArea .video, .backToMainMenu {
  position: absolute;
}

.pagination {
  position: fixed;
}

.playButton, .singlePost__Nav a, .previous .relative i, .next .relative i {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.series .project:not(.active) * {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.playButton, .nextPrevIcon i, .logo, .ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.collapsed, .collapsed * {
  height: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.nextPrevIcon.next i {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  filter: fliph;
  /*IE*/
}

.playButton {
  width: 74px;
  height: 74px;
  background-image: url("play.png");
  background-image: none, url("play.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: .75;
}
.playButton:hover {
  opacity: 1;
}

.nextPrevIcon i {
  width: 74px;
  height: 74px;
  background-image: url("next-prev.png");
  background-image: none, url("next-prev.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: .3;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nextPrevIcon i:hover {
  opacity: 1;
}
@media only screen and (max-width: 43.6875em) {
  .nextPrevIcon i {
    display: none !important;
  }
}

.js .nextPrevIcon i {
  opacity: 0;
}

.page__Title {
  color: #fff1cd;
  font-weight: 600;
  letter-spacing: .25rem;
  letter-spacing: 3px;
  letter-spacing: 0.23077rem;
  margin: 0;
  padding: 12px 0 10px;
  padding:  0.92308rem 0 0.76923rem;
}

#content-wrap {
  padding-bottom: 3rem;
}

.page-work #content-wrap {
  padding-bottom: 0;
}

.page__Container {
  max-width: 900px;
  margin: 0 auto;
  background: rgba(35, 31, 32, 0.85);
  margin-top: 3rem;
}

.titleContainer {
  color: #d36327;
  font-size: 2.25rem;
  line-height: 5rem;
  border-bottom: 1px solid #231f20;
  margin-bottom: 42px;
}
@media only screen and (min-width: 43.75em) {
  .titleContainer {
    width: 337px;
  }
}

.whiteBG {
  background: white;
}

.insetBorder {
  border: 1px solid #f5cab3;
  margin: 1.5rem;
  padding-bottom: 42px;
}

.bigPad {
  padding-right: 2rem;
  padding-left: 2rem;
}
@media only screen and (min-width: 43.75em) {
  .bigPad {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

.subHeading {
  max-width: 660px;
  margin: 0 auto;
}

.icon-big {
  font-size: 300%;
}
@media only screen and (min-width: 71.25em) {
  .icon-big {
    font-size: 650%;
  }
}

.singlePost__Nav a {
  color: #d4cec6;
  letter-spacing: .125rem;
}
@media only screen and (min-width: 43.75em) {
  .singlePost__Nav a:hover {
    color: #d36327;
  }
}
@media only screen and (min-width: 71.25em) {
  .singlePost__Nav a {
    bottom: auto;
    top: 80px;
    height: 84px;
    width: 84px;
  }
  .singlePost__Nav a.nextPost {
    left: auto;
    margin-right: 32px;
    margin-right: -6rem;
    margin-right: -12vw;
  }
  .singlePost__Nav a.prevPost {
    right: auto;
    margin-left: 32px;
    margin-left: -6rem;
    margin-left: -12vw;
    text-align: right;
  }
}
@media only screen and (min-width: 71.25em) and (min-width: 71.25em) {
  .singlePost__Nav a {
    top: 0;
    bottom: 0;
  }
}
.singlePost__Nav a i {
  top: -13px;
  top: -1rem;
}
@media only screen and (max-width: 71.25em) {
  .singlePost__Nav a {
    top: -75px;
    left: 13px;
    left: 1rem;
    right: auto;
  }
  .singlePost__Nav a.nextPost {
    left: auto;
    right: 13px;
    right: 1rem;
  }
}
@media only screen and (max-width: 43.6875em) {
  .singlePost__Nav a {
    top: -60px;
  }
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 1rem;
  width: 100%;
  text-align: center;
  display: none;
}
@media only screen and (min-width: 43.75em) {
  .loading {
    display: block;
  }
}

.circle {
  position: relative;
  width: 1rem;
  height: 1rem;
  background: black;
  display: inline-block;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  margin: 0 .25rem;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  -moz-animation: rotateplane 1.2s infinite ease-in-out;
  -ms-animation: rotateplane 1.2s infinite ease-in-out;
  -o-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

.circle:nth-child(2) {
  -webkit-animation-delay: .25s;
  -moz-animation-delay: .25s;
  -ms-animation-delay: .25s;
  -o-animation-delay: .25s;
  animation-delay: .25s;
}

.circle:nth-child(3) {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -ms-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}

@-webkit-keyframes rotateplane {
  0% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}

@-moz-keyframes rotateplane {
  0% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}

@-o-keyframes rotateplane {
  0% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}

@keyframes rotateplane {
  0% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}

form {
  padding: 0 0 24px;
  padding:  0 0 1.84615rem;
  text-align: left;
}
form input, form textarea {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: 1px solid #9d958c;
  width: 100%;
  margin-bottom: 26px;
  margin-bottom: 2rem;
}

.gform_heading {
  max-width: 300px;
  margin: 26px auto 13px;
  margin:  2rem auto 1rem;
  text-align: center;
}

.shareToggle, .shareButtons a {
  color: #9d958c;
}
.shareToggle:hover, .shareButtons a:hover {
  color: #d36327;
}

@media only screen and (max-width: 43.6875em) {
  .shareContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #231f20;
    z-index: 999;
  }
}

.shareToggle {
  font-size: 19.5px;
  font-size: 1.5rem;
  display: inline-block;
}
@media only screen and (min-width: 43.75em) {
  .shareToggle {
    position: absolute;
    top: 11px;
    top: 0.84615rem;
    right: 13px;
    right: 1rem;
  }
}
@media only screen and (max-width: 43.6875em) {
  .shareToggle {
    display: none;
  }
}
.shareToggle.active {
  color: #d36327;
}

.shareButtons {
  max-height: 0;
  overflow: hidden;
  font-size: 19.5px;
  font-size: 1.5rem;
  display: inline-block;
}
@media only screen and (min-width: 43.75em) {
  .shareButtons {
    width: 26px;
    width: 2rem;
    position: absolute;
    top: 13px;
    top: 1rem;
    right: -39px;
    right: -3rem;
  }
  .shareButtons a {
    display: block;
    margin-bottom: .5rem;
  }
}
@media only screen and (max-width: 43.6875em) {
  .shareButtons {
    max-height: none;
    text-align: center;
    width: 100%;
  }
  .shareButtons a {
    display: inline-block;
    margin: 0 13px;
    margin:  0 1rem;
    padding: 13px;
    padding: 1rem;
  }
}
.shareButtons.active {
  max-height: 999999em;
}

#mobileMenuToggle.active span {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #312b2c;
  font-family: "proxima-nova";
  height: 100%;
  font-size: 62.5%;
}
@media only screen and (min-width: 43.75em) {
  html {
    font-size: 75%;
  }
}

body {
  font-size: 13px;
  font-size: 1rem;
  height: inherit;
  line-height: 1.6rem;
}

h1 {
  font-size: 24px;
  font-size: 1.84615rem;
}

a {
  color: #d36327;
  text-decoration: none;
}

p {
  margin: 0 0 2rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

#page-header {
  overflow: hidden;
  padding: 1rem;
  background: #231f20;
  top: 0;
  padding: 1rem 0 2rem;
}
#page-header h1 {
  margin: 0;
  padding: 0;
}
#page-header.active {
  max-height: 99999em;
  height: auto;
}
@media only screen and (min-width: 43.75em) {
  #page-header {
    padding: 15px 60px 30px;
    height: 104px;
  }
}
#page-header a {
  color: #fff1cd;
}
#page-header a:hover {
  color: #d36327;
}
@media only screen and (max-width: 43.6875em) {
  #page-header {
    max-height: 65px;
  }
}

#menu-primary {
  text-align: center;
}
@media only screen and (min-width: 43.75em) {
  #menu-primary {
    padding-top: 30px;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 56.25em) {
  #menu-primary {
    padding-top: 0;
    position: absolute;
    top: 30px;
    left: 0;
  }
}
@media only screen and (min-width: 71.25em) {
  #menu-primary {
    left: 60px;
  }
}
@media only screen and (min-width: 43.75em) {
  #menu-primary li:not(:last-child) {
    border-right: 1px solid #fff1cd;
  }
}
#menu-primary li.current-menu-item a {
  color: #e6a07a;
}
#menu-primary a {
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: .125rem;
  padding: 2rem 1rem;
}
@media only screen and (min-width: 43.75em) {
  #menu-primary a {
    padding: 0 1rem;
  }
}

.single-series #menu-primary li.work-link a {
  color: #e6a07a;
}

@media only screen and (min-width: 56.25em) {
  #menu-social-nav {
    position: absolute;
    top: 30px;
    right: 60px;
  }
}
#menu-social-nav a {
  font-size: 1.25rem;
  padding: .5rem;
}
@media only screen and (min-width: 43.75em) {
  #menu-social-nav a {
    padding: 0;
    margin-right: .5rem;
  }
}
#menu-social-nav .icon-envelope {
  font-size: 1.5rem;
  top: 1px;
}

.logo {
  display: block;
  width: 100px;
  height: 50px;
  margin: 0 auto;
  background-image: url("logo.png");
  background-image: none, url("logo.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 43.75em) {
  .logo {
    width: 135px;
    height: 60px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 71.25em) {
  .logo {
    margin-top: 8px;
    margin-top: 0.61538rem;
    position: absolute;
    left: 50%;
    margin-left: -85px;
  }
}

#mobileMenuToggle {
  position: absolute;
  top: 1em;
  right: 2em;
  font-size: 200%;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}
#mobileMenuToggle:hover {
  opacity: .75;
}
@media only screen and (min-width: 56.25em) {
  #mobileMenuToggle {
    display: none;
  }
}

/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/
/* Swiper Styles */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
  height: 100%;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swiper-slide {
  float: left;
  height: 100%;
  position: relative;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

.previous, .next {
  font-size: 6em;
  color: #231f20;
  opacity: 0.91;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  width: 100px;
  z-index: 9;
}
.previous .relative, .next .relative {
  height: 100%;
}
.previous .relative i, .next .relative i {
  height: 75px;
}
@media only screen and (max-width: 43.6875em) {
  .previous, .next {
    display: none !important;
  }
}

.previous {
  left: 0;
}

.next {
  right: 0;
}

/*  BigVideo Styles 
    You may need to adjust these styles to get this working right in your design. 
*/
#big-video-wrap {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 100px;
  left: 0;
  background: transparent;
}

#big-video-vid, #big-video-image {
  position: absolute;
}

#big-video-control-container {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background: transparent;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

#big-video-control {
  width: 100%;
  height: 16px;
  position: relative;
}

#big-video-control-middle {
  margin: 0 56px 0 24px;
}

#big-video-control-bar {
  width: 100%;
  height: 16px;
  position: relative;
  cursor: pointer;
}

#big-video-control-progress {
  position: absolute;
  top: 7px;
  height: 3px;
  width: 0%;
  background: #fff;
}

#big-video-control-track {
  position: absolute;
  top: 8px;
  height: 1px;
  width: 100%;
  background: #fff;
}

#big-video-control-bound-left {
  left: 0;
}

#big-video-control-bound-right {
  right: -1px;
}

#big-video-control-track .ui-slider-handle {
  opacity: 0;
}

#big-video-control-playhead {
  left: 30%;
}

#big-video-control-play {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-image: url("bigvideo.png");
}

#big-video-control-timer {
  position: absolute;
  top: 1px;
  right: 0;
  color: #fff;
  font-size: 11px;
}

#big-video-control-playhead, #big-video-control-bound-left, #big-video-control-bound-right {
  position: absolute;
  top: 0;
  height: 16px;
  width: 1px;
  background: #fff;
}

#big-video-control .ui-slider-handle {
  border-left: solid 1px #fff;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -8px;
}

.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.vjs-big-play-button {
  display: none !important;
}

.fullscreen-video {
  /* Video Pages */
  /* Nav */
}
.fullscreen-video .wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.fullscreen-video .screen {
  position: relative;
  height: 100%;
  width: 20%;
  /*  NOTE: numVideos/100%  */
  float: left;
  overflow: hidden;
}
.fullscreen-video .big-image {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}
.fullscreen-video .video-title {
  position: absolute;
  top: 5%;
  right: 5%;
  opacity: .5;
  margin: 40px 0 0 0;
  padding: 0;
  line-height: .65;
  font-size: 4em;
  text-transform: uppercase;
}
.fullscreen-video #next-btn {
  right: 0;
}
.fullscreen-video nav#next-btn {
  position: absolute;
  right: 5%;
  top: 45%;
  padding: 20px;
  background: #000;
  border-radius: 40px;
  opacity: .4;
  cursor: pointer;
  z-index: 1000;
}
.fullscreen-video nav#next-btn:hover {
  opacity: .6;
}
.fullscreen-video .next-icon {
  display: block;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  width: 20px;
  height: 20px;
  position: relative;
  left: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #fff;
  text-decoration: none;
}

.screen img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.js #big-video-wrap {
  opacity: 0;
}

#soundControl {
  position: absolute;
  z-index: 9999;
  top: 5em;
  right: 2.5em;
  font-size: 2.2em;
  color: #fff1cd;
  display: none;
}
@media only screen and (min-width: 43.75em) {
  #soundControl {
    display: block;
  }
}

/*.responsive-container iframe { 
	@extend %ab;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}*/
@media only screen and (max-height: 43.75em) and (min-width: 62.5em) {
  .single-series .page__Container {
    max-width: 700px;
  }
}
.single-series .page__Container .playButton {
  display: none;
}

.series__Container {
  margin: 0 auto;
  background: rgba(35, 31, 32, 0.85);
  margin-top: 39px;
  margin-top: 3rem;
  padding-bottom: 19.5px;
  padding-bottom: 1.5rem;
}

.series {
  padding: 19.5px;
  padding: 1.5rem;
}
.series .project.active {
  background: white;
  padding: 32.5px;
  padding: 2.5rem;
}
@media only screen and (min-width: 43.75em) {
  .series .project.active {
    width: 50%;
  }
}
@media only screen and (min-width: 71.25em) {
  .series .project.active {
    width: 420px;
  }
}
@media only screen and (max-height: 43.75em) and (min-width: 62.5em) {
  .series .project.active {
    padding-top: 13px;
    padding-top: 1rem;
    width: 50%;
  }
}
.series .project h2 {
  border-bottom: 2px solid #231f20;
  line-height: 1.35;
  margin-top: 0;
  padding-bottom: 13px;
  padding-bottom: 1rem;
}
.series .project p {
  margin: .25rem 0 0 0;
  margin: 3.25px 0 0 0;
  margin:  0.25rem 0 0 0;
}
.series .project p.collaborators p {
  display: inline;
}

#playArea {
  width: 100%;
  height: auto;
}
#playArea img {
  width: 100%;
  height: auto;
}
#playArea .video {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 71.25em) {
  #playArea {
    min-height: 394px;
  }
}

.backToMainMenu {
  color: #9d958c;
  top: -26px;
  top: -2rem;
}
.backToMainMenu:hover {
  color: #d36327;
}
.backToMainMenu span {
  vertical-align: middle;
  margin-left: 5px;
  font-style: italic;
}
@media only screen and (max-width: 71.25em) {
  .backToMainMenu {
    display: none;
  }
}

@media only screen and (min-width: 43.75em) {
  .series__Navigation {
    width: 49%;
    padding-left: 16px;
  }
}
@media only screen and (min-width: 71.25em) {
  .series__Navigation {
    width: 50%;
    padding-left: 46px;
  }
}
@media only screen and (max-height: 43.75em) and (min-width: 62.5em) {
  .series__Navigation {
    width: 49%;
  }
}
.series__Navigation h3 {
  color: #fff1cd;
  letter-spacing: 1.625px;
  letter-spacing: 0.125rem;
  font-weight: 100;
}
.series__Navigation a {
  width: 80px;
  height: 80px;
  overflow: hidden;
  font-size: 0;
  margin: 5px;
}
.series__Navigation a img {
  max-width: none;
}
@media only screen and (max-width: 43.6875em) {
  .series__Navigation {
    text-align: center;
  }
  .series__Navigation a {
    margin: 1px;
  }
}

.page-work .series-wrapper {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 13px;
  bottom: 1rem;
  width: inherit;
}
@media only screen and (min-width: 43.75em) {
  .page-work .series-wrapper {
    padding: 20px;
    padding: 1.53846rem;
    top: auto;
    bottom: 0;
  }
}
@media only screen and (min-width: 71.25em) {
  .page-work .series-wrapper {
    opacity: 0;
  }
}
.page-work .work-slide .series-wrapper {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.page-work .work-slide img {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 71.25em) {
  .page-work .work-slide:hover .series-wrapper {
    opacity: 1;
  }
}
.page-work .series {
  background: rgba(255, 255, 255, 0.94);
  color: #231f20;
  padding: 12px;
  padding: 0.92308rem;
}
@media only screen and (min-width: 43.75em) {
  .page-work .series {
    text-align: left;
    padding: 28px 20px 16px 20px;
    padding:  2.15385rem 1.53846rem 1.23077rem 1.53846rem;
  }
}
.page-work h2.series-title {
  font-size: 30px;
  font-size: 2.30769rem;
  padding-top: 2px 0 0;
  padding-top:  0.15385rem 0 0;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #231f20;
}
@media only screen and (min-width: 43.75em) {
  .page-work h2.series-title {
    padding-top: 0;
    font-size: 40px;
    font-size: 3.07692rem;
  }
}
@media only screen and (min-width: 71.25em) {
  .page-work h2.series-title {
    font-size: 60px;
    font-size: 4.61538rem;
  }
}

@media only screen and (max-width: 43.6875em) {
  .series-link {
    display: block;
    padding: 8px 0 0;
    padding:  0.61538rem 0 0;
  }
}

@media only screen and (max-width: 43.6875em) {
  .series-wrapper .description {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}

.pagination {
  bottom: 0;
  z-index: 9999999999;
  background: #231f20;
  left: 0;
  right: 0;
  padding: 7px;
  padding: 0.53846rem;
}

.swiper-pagination-switch {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #fff1cd;
  display: inline-block;
  margin: 0 5px;
}

.swiper-active-switch {
  background: #d36327;
}

.work-slide {
  cursor: pointer;
}

.page-backstory .page__Container {
  max-width: 860px;
}
.page-backstory .textBlock {
  background: white;
  padding: 15px;
  padding: 1.15385rem;
  margin: 13px;
  margin: 1rem;
}
@media only screen and (min-width: 43.75em) {
  .page-backstory .textBlock {
    margin: 19.5px;
    margin: 1.5rem;
    padding: 60px;
    padding: 4.61538rem;
  }
}

@media only screen and (min-width: 37.5em) {
  #team .portrait, #team .bio {
    display: inline-block;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 37.5em) {
  #team .portrait {
    margin-right: 65px;
    margin-right: 5rem;
    margin-bottom: 26px;
    margin-bottom: 2rem;
  }
}
#team .bio {
  text-align: left;
  margin: 13px 0 26px;
  margin:  1rem 0 2rem;
}
@media only screen and (min-width: 37.5em) {
  #team .bio {
    width: 50%;
    margin: 0;
  }
}
@media only screen and (min-width: 71.25em) {
  #team .bio {
    width: 428px;
  }
}

#hello .gform_title {
  display: none;
}
#hello p {
  margin: 0;
}

.socialLinks {
  font-size: 19.5px;
  font-size: 1.5rem;
}
.socialLinks a {
  color: #a89c8c;
}
.socialLinks a:hover {
  color: #d36327;
}

.gform_body, .gform_footer {
  max-width: 400px;
  margin: 0 auto;
}
.gform_body ul, .gform_footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gform_footer .gform_button {
  display: inline-block;
  width: auto;
  background: none;
  border-color: #d36327;
  color: #d36327;
  letter-space: 3.25px;
  letter-space: 0.25rem;
  padding-top: 3px;
}
.gform_footer .gform_button:hover {
  background: #d36327;
  color: white;
}

#goods {
  padding-bottom: 65px;
  padding-bottom: 5rem;
}

.tumblrBlog {
  border-bottom: 1.5px solid #231f20;
  text-align: left;
  max-width: 920px;
  margin: 0 auto;
  padding: 39px 0;
  padding:  3rem 0;
}
.tumblrBlog.alpha {
  border-top: 1.5px solid #231f20;
}
.tumblrBlog:last-child {
  margin-bottom: 52px;
  margin-bottom: 4rem;
}
.tumblrBlog ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media only screen and (max-width: 43.6875em) {
  .tumblrBlog ol {
    width: 100%;
  }
}

.tumblr_posts, .b_logo, .logoColumn {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 43.75em) {
  .tumblr_posts {
    width: 600px;
  }
}

.tumblr_photo_post img {
  width: 212px;
  margin-right: 39px;
  margin-right: 3rem;
}
@media only screen and (max-width: 43.6875em) {
  .tumblr_photo_post img {
    width: 100%;
    margin-right: 0;
  }
}
.tumblr_photo_post .tumblr_caption, .tumblr_photo_post .tumblr-title {
  width: 350px;
}
@media only screen and (max-width: 43.6875em) {
  .tumblr_photo_post .tumblr_caption, .tumblr_photo_post .tumblr-title {
    width: 100%;
    margin-right: 0;
  }
}

.logoColumn {
  width: 212px;
}
@media only screen and (min-width: 43.75em) {
  .logoColumn {
    margin: 0 26px;
    margin:  0 2rem;
  }
}
@media only screen and (max-width: 43.6875em) {
  .logoColumn {
    width: 100%;
  }
}

.b_logo {
  background: url(tumblrBlogLogos.png) no-repeat;
}
@media only screen and (max-width: 43.6875em) {
  .b_logo {
    display: block;
    margin: 0 auto 24px;
    margin:  0 auto 1.84615rem;
  }
}

.tumblr_title, #pickings .tumblr_caption > p, #periscope .tumblr_link_post > a {
  font-size: 26px;
  font-size: 2rem;
  line-height: 32.5px;
  line-height: 2.5rem;
  margin-bottom: 13px;
  margin-bottom: 1rem;
  font-weight: bold;
  max-width: 280px;
}
@media only screen and (max-width: 43.6875em) {
  .tumblr_title, #pickings .tumblr_caption > p, #periscope .tumblr_link_post > a {
    margin: 14px 0;
    margin:  1.07692rem 0;
  }
}

.tumblr_description {
  max-width: 350px;
}

#pickings {
  font-family: "abril-display";
}
#pickings .tumblr_caption > p a {
  display: block;
  font-size: 13px;
  font-size: 1rem;
  line-height: 1.5;
}
#pickings .b_logo {
  background-position: -12px -12px;
  width: 129px;
  height: 137px;
}

#periscope {
  font-family: "news-gothic-std";
}
#periscope .tumblr_link_post > a {
  color: #231f20;
  font-family: "alternate-gothic-no-1-d";
  font-weight: 100;
  letter-spacing: 1.625px;
  letter-spacing: 0.125rem;
}
#periscope .tumblr_link_post > a:hover {
  color: #d36327;
}
#periscope .b_logo {
  background-position: -10px -162px;
  width: 141px;
  height: 145px;
}

#lightbox .b_logo {
  background-position: -10px -344px;
  width: 162px;
  height: 74px;
}

#makeyourslikemine {
  font-family: "apertura";
}
#makeyourslikemine h1, #makeyourslikemine h2, #makeyourslikemine h3, #makeyourslikemine .tumblr_title {
  font-family: "ff-karbid-slab-web-pro";
}
#makeyourslikemine .b_logo {
  background-position: -4px -443px;
  width: 168px;
  height: 103px;
}

#eveningredness {
  font-family: "abril-display";
}
#eveningredness h1, #eveningredness h2, #eveningredness h3 {
  font-family: "news-gothic-std";
}
#eveningredness .b_logo {
  background-position: -8px -576px;
  width: 167px;
  height: 173px;
}

.singleProject {
  background: white;
}
