%none {
	display: none;
}
%ib, .ib {
	@include media(tablet) {
		display: inline-block;
		vertical-align: middle;
		font-size: 0;

		a {
			font-size: 1rem;
		}
	}
	
}


%cf  {
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}
	
	&:after {
	    clear: both;
	}
}




%float-right {
	@include media(tablet) {
		float: right;
	}
	
}
%float-left {
	@include media(tablet) {
		float: left;
	}
}

%bl {
	display: block;
}

%ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

%menu-style {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		font-size: 1rem;
	}

}


%hoverTransition {
	@include transition (all .3s ease-in-out);
}

%quickTransition {
	@include transition (all .2s ease-in-out);
}

%nodec {
	text-decoration: none;
}

%center {
	text-align: center;
}

%upcase {
	text-transform: uppercase;
}


%rel, .relative {
	position: relative;
}
%ab {
	position: absolute;
}
%fix  {
	position: fixed;
}






%hv-center {
	top: 0; bottom: 0;
	right: 0; left: 0;
	margin: auto;
}

%hidden {
	* {
		height: 0;
		width: 0;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
}




%ir, .ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}



%centered {
	text-align: center;
}




%collapsed, .collapsed, .collapsed * {
	height: 0;
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;

}

%flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}
%flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}

%twoColumn {
	@include media(tablet) {
		@include columns(2);
		@include column-gap(20px);	

	}
	
}

.playButton {
	@extend %ir;
	@extend %bl;
	width: 74px;
	height: 74px;
	@include svg_bg('play');
	opacity: .75;
	@extend %ab;
	@extend %hv-center;
	&:hover {
		opacity: 1;
	}
}


.nextPrevIcon i {
	@extend %ir;
	@extend %bl;
	width: 74px;
	height: 74px;
	@include svg_bg('next-prev');
	opacity: .3;
	@include transition (all .3s ease-in-out);
	&:hover {
		opacity: 1;
	}
	@include media(mobile) {
		display: none !important;
	}

	
}

.js .nextPrevIcon i {
	opacity: 0;
}
.nextPrevIcon.next i {
		@extend %flip-horizontal;
	}


.page__Title  {
	color: $yellow;
	@extend %center;
	font-weight: 600;
	@extend %upcase;
	letter-spacing: .25rem;
	@include rem('letter-spacing', 3px);
	margin: 0;
	@include rem('padding', 12px 0 10px);

}




#content-wrap {
	padding-bottom: 3rem;
}

.page-work #content-wrap {
	padding-bottom: 0;
}

.page__Container {
	@extend %rel;
	@extend %cf;
	max-width: 900px;
	margin: 0 auto;
	background: rgba($black, .85);
	margin-top: 3rem;

}

.titleContainer {
	@extend %ib;
	color: $orange;
	@extend %center;
	font-size: 2.25rem;
	line-height: 5rem;
	border-bottom: 1px solid $darkgrey;
	margin-bottom: 42px;

	@include media(tablet) {
		width: 337px;

	}
}

.section__Title, .insetBorder {
		@extend %center;
	
	}

.whiteBG {
	background: white;
}
.insetBorder {
	border: 1px solid $peach;
	margin: 1.5rem;
	padding-bottom: 42px;
}
.bigPad {
	padding-right: 2rem;
	padding-left: 2rem;
	@include media(tablet) {
		padding-right: 5rem;
		padding-left: 5rem;
	}
	
}

.subHeading {
	max-width: 660px;
	margin: 0 auto;
}

.icon-big {
	font-size: 300%;
	@include media(desktop) {
		font-size: 650%;
	}
	
}

.singlePost__Nav {
	a {
		@extend %ab;
		@extend %hv-center;
		color: $grey;
		letter-spacing: .125rem;
		@include media(tablet) {
			&:hover {
				color: $orange;
			}
		}
		@include media(desktop){
			bottom: auto;
			top: 80px;
			height: 84px;
			width: 84px;
			
			&.nextPost {
				left: auto;
				margin-right: 32px;
				margin-right: -6rem;
				margin-right: -12vw;
			}
			&.prevPost {
				right: auto;
				margin-left: 32px;
				margin-left: -6rem;
				margin-left: -12vw;
				text-align: right;
			}
			@include media(desktop) {
				top: 0;
				bottom: 0;
			}

			
		}

		i {
			@extend %rel;
			@include rem('top', -$baseline-px);
		}

		

		@include media(notDesktop) {
			
			top: -75px;

			@include rem('left', $baseline-px);
			right: auto;
			&.nextPost {
				left: auto;
		
				@include rem('right', $baseline-px);
			}
		}

		@include media(mobile) {
			top: -60px;
			
		}


	}
}


.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 1rem;
  width: 100%;
  //border-radius: 5rem;
  text-align: center;
  display: none;
  @include media(tablet) {
  	display: block;
  }
}

.circle{
position: relative;
width:1rem;
height:1rem;
background:black;
display:inline-block;
-webkit-border-radius:1rem;
   -moz-border-radius:1rem;
        border-radius:1rem;
margin:0 .25rem;
-webkit-animation:rotateplane 1.2s infinite ease-in-out;
   -moz-animation:rotateplane 1.2s infinite ease-in-out;
    -ms-animation:rotateplane 1.2s infinite ease-in-out;
     -o-animation:rotateplane 1.2s infinite ease-in-out;
        animation:rotateplane 1.2s infinite ease-in-out;
}
.circle:nth-child(2){
-webkit-animation-delay:.25s;
   -moz-animation-delay:.25s;
    -ms-animation-delay:.25s;
     -o-animation-delay:.25s;
        animation-delay:.25s;
}
.circle:nth-child(3){
-webkit-animation-delay:.5s;
   -moz-animation-delay:.5s;
    -ms-animation-delay:.5s;
     -o-animation-delay:.5s;
        animation-delay:.5s;
}

@-webkit-keyframes rotateplane {
  0%   { opacity: 0.0; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.0; }
}
@-moz-keyframes rotateplane {
  0%   { opacity: 0.0; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.0; }
}
@-o-keyframes rotateplane {
  0%   { opacity: 0.0; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.0; }
}
@keyframes rotateplane {
  0%   { opacity: 0.0; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.0; }
}



form {
	
	@include rem('padding', 0 0 24px);
	text-align: left;
	input, textarea {
		@extend %bl;
		-webkit-appearance: none;
		appearance: none;
		box-shadow: none;
		border: 1px solid $brown;
		width: 100%;
		@include rem('margin-bottom', 2 * $baseline-px);

	}
	label {
		@extend %upcase;
	}
}

.gform_heading {
	max-width: 300px;
	@include rem('margin', $baseline-px * 2 auto $baseline-px);
	text-align: center;
}

.shareToggle, .shareButtons a {
	color: $brown;
	&:hover {
		color: $orange;
	}
}





.shareContainer {
	@include media(mobile) {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: $black;
		z-index: 999;
	}
}
.shareToggle {

	@include rem('font-size', $baseline-px * 1.5);
	display: inline-block;
	@include media(tablet) {
		position: absolute;
		@include rem('top', 11px );
		@include rem('right', $baseline-px);
	}
	@include media(mobile) {
		display: none;
	}
	&.active {
		color: $orange;
	}
}
.shareButtons {
	max-height: 0;
	overflow: hidden;
	@include rem('font-size', $baseline-px * 1.5);
	display: inline-block;
	@include media(tablet) {
		@include rem('width', $baseline-px * 2);
		position: absolute; 
		@include rem('top', $baseline-px );
		@include rem('right', -$baseline-px * 3);
		a {
			display: block;
			margin-bottom: .5rem;
		}
	}

	@include media(mobile) {
		max-height: none;
		text-align: center;
		width: 100%;
		a {
			display: inline-block;
	
			@include rem('margin', 0 $baseline-px);
			@include rem('padding', $baseline-px);
		}
	}

	
	&.active {
		max-height: 999999em;
	}
}



%rotate90 {
	@include transform-origin(center center);
	@include transform(rotate(90deg));
}
