@import '../vendor/normalize-scss/normalize', 'bourbon/bourbon', 'mixins','patterns','icons','variables';


*, *:before, *:after {
	@include box-sizing(border-box);
}

html {
	background: lighten($black, 5%);
	font-family: "proxima-nova";
	font-size: 100%;
	font-size: 11px;
	height: 100%;
	
}

body {
	font-size: 1rem;
	height: inherit;
	
}

h1 {
	font-size: 2.5rem;
}
h2 ,h3 {

}

a {
	color: $color_link;
	text-decoration: none;
}

@import 'parts/header', 'parts/swiper', 'parts/video';
@import 'pages/home', 'pages/series', 'pages/work';

