$baseline-px: 13px;
$pixelBase: 13;
@import '../vendor/normalize-scss/normalize', 'bourbon/bourbon', 'variables', 'mixins','icons','patterns';

*, *:before, *:after {
	@include box-sizing(border-box);
}

html {
	background: lighten($black, 5%);

	font-family: "proxima-nova";
	height: 100%;
	font-size: 62.5%;
	@include media(tablet) {
		font-size: 75%;
	}
	
}

body {
	@include rem('font-size', 13px);
	height: inherit;
	line-height: 1.6rem;
	
}

h1 {
	font-size: 2.5rem;
	@extend %upcase;
}
h2 ,h3 {

}

a {
	color: $color_link;
	text-decoration: none;
}

p {
	margin: 0 0 2rem 0;
}

img {
	max-width: 100%;
	height: auto;
}
#content-wrap {

}
@import 'parts/header', 'parts/swiper', 'parts/video';
@import 'pages/home', 'pages/series', 'pages/work', 'pages/backstory', 'pages/hello', 'pages/goods', 'pages/project';

