@import '../vendor/normalize-scss/normalize', 'bourbon/bourbon', 'mixins','patterns','icons';
$black: #231f20;
$red: #d36327;
$yellow: #fff1cd;
$grey: #d4cec6;
$brown: #9d958c;
$pink: #f5cab3;

*, *:before, *:after {
	@include box-sizing(border-box);
}

html {
	background: lighten($black, 5%);
	font-family: "proxima-nova";
	font-size: 100%;
	font-size: 11px;
	height: 100%;
	
}

body {
	font-size: 1rem;
	height: inherit;
	
}

h1 {
	font-size: 2.5rem;
}
h2 ,h3 {

}

@import 'parts/header';
@import 'pages/home', 'pages/series';

