#page-header {
	@extend %rel;
	overflow: hidden;
	h1 {
		margin: 0; 
		padding: 0;
	}
	padding: 1rem;
	background: $black;
	top: 0;
	padding: 1rem 0 2rem;
	&.active {
			max-height: 99999em;
			height: auto;
		}
	@include media(tablet) {
		padding: 15px 60px 30px;
		height: 104px;
	}
	a {
		color: $yellow;
		@extend %upcase;
		@extend %nodec;
		&:hover {
			color: $orange;
		}
	}
	
	//@include transition (all 1s ease);

	@include media(mobile) {
		max-height: 65px;
	}

	
}
.menu {
		@extend %menu-style;

		
}
#menu-primary {
		
		@extend %bl;
		@extend %rel;
		text-align: center;
		

		@include media(tablet) {
			padding-top: 30px;
			margin-bottom: 2rem;

		}
		@include media(tabletHorizontal) {
			padding-top: 0;
			position: absolute;
			top: 30px;
			left: 0;
		}
		@include media(desktop) {
			left: 60px;
		}

		li:not(:last-child) {
			@include media(tablet) {
				border-right: 1px solid $yellow;
			}
			
		}
		li.current-menu-item a {
			color: lighten($orange, 20%);
		}
		a {
			font-size: 1rem;
			line-height: 1.1rem;
			letter-spacing: .125rem;
			padding: 2rem 1rem;
			@extend %bl;
			@include media(tablet) {
				padding: 0 1rem;
			}
		}
	}
.single-series {
	#menu-primary li.work-link a {
		color: lighten($orange, 20%);
	}
}

#menu-social-nav {
	
	@extend %center;
	@include media(tabletHorizontal) {
		position: absolute;
		top: 30px;
		right: 60px;
	}

	

	a {
		font-size: 1.25rem;
		padding: .5rem;
		@include media(tablet) {
			padding: 0;
			margin-right: .5rem;
		}
	}

	.icon-envelope {
		font-size: 1.5rem;
		@extend %rel;
		top: 1px;
		
	}
	
}


.logo {
	@extend %ir;
	display: block;
	width: 100px;
	height: 50px;
	margin: 0 auto;
	//background-image: url('logo.png');
	@include svg_bg('logo');
	background-size: 100% auto;
  	background-repeat: no-repeat;
  	@include media(tablet) {
  		width: 135px;
		height: 60px;
		margin-bottom: 30px;
  	}
	@include media(desktop) {
		@include rem('margin-top', 8px);
		@include ab-h-center(-67.5px);
		
		
	}
}

#mobileMenuToggle {
	@include position(absolute, 0px 0px 0 0);
	font-size: 200%;
	padding: 1em;
	@include transition (opacity .35s ease);
	&:hover {
		opacity: .75;
	}

	@include media(tabletHorizontal) {
		display: none;
	}

	&.active span {
		@extend %rotate90;
	}
}
