.videoContainer {
	@extend %rel;
}
.page-backstory {
	.page__Container {
		max-width: 860px;
	}
	.textBlock {
		background: white;
		padding: 1rem;
		@extend %twoColumn;
		@include media(tablet) {
			@include rem('margin', $baseline-px * 1.5);
			padding: 30px;
		}
	}
}

#team {


	.portrait, .bio {
		@include media(bigMobile) {
			display: inline-block;
			vertical-align: middle;
		}
		
		
	}
	.portrait {
		@include media(bigMobile) {
			@include rem('margin-right', $baseline-px * 5);
			@include rem('margin-bottom', $baseline-px * 2);

		}
	}
	.bio {
		text-align: left;
		@include rem('margin', $baseline-px 0 $baseline-px * 2);
		@include media(bigMobile) {
			width: 50%;
			margin: 0;
		}
		@include media(desktop) {
			width: 428px;
		}
	}
}



