#goods {
	
	@include rem('padding-bottom', $baseline-px * 5);

}
.tumblrBlog {
	border-bottom: 1.5px solid $black;
	text-align: left;
	max-width: 920px;
	margin: 0 auto;


	a {
		@extend %ib;
	}


	&.alpha {
		border-top: 1.5px solid $black;
	}
	&:last-child {
		
		@include rem('margin-bottom', $baseline-px * 4);

	}
	ol {
		margin: 0;
		padding: 0;
		list-style: none;
		@include media(mobile) {
			width: 100%;
		}
	}

	@include rem('padding', $baseline-px * 3 0);


	
}


.tumblr_posts, .b_logo, .logoColumn {
	display: inline-block;
	vertical-align: middle;
}
.tumblr_posts {
	@include media(tablet) {
		width: 600px;
	}
	
}


.tumblr_photo_post {
	img {
		width: 212px;
		@extend %ib;
		@include rem('margin-right', $baseline-px * 3);
		@include media(mobile) {
			width: 100%;
			margin-right: 0;
		}
	}
	.tumblr_caption, .tumblr-title {
		@extend %ib;
		width: 200px;
		@include media(mobile) {
			width: 100%;
			margin-right: 0;
		}
	}

}
.logoColumn {
	@extend %center;
	width: 212px;
	
	@include media(tablet) {

		@include rem('margin', 0 $baseline-px * 2);

	}
	@include media(mobile) {
		width: 100%;
	}
}

.b_logo {
	@include media(mobile) {
		display: block;
		@include rem('margin', 0 auto 24px);
	}
	background: url(tumblrBlogLogos.png) no-repeat;
	
}


%titleStyle {
	@extend %ib;
	@include rem('font-size', $baseline-px * 2);
	@include rem('line-height', $baseline-px * 2.5);
	@include rem('margin-bottom', $baseline-px);
	@include media(mobile) {
		@include rem('margin', 14px 0);
	}

	font-weight: bold;
	max-width: 280px;
}
.tumblr_title {
	@extend %titleStyle;
}
.tumblr_description {
	max-width: 280px;
}
#pickings {
	font-family: "abril-display";
	.tumblr_caption > p {
		@extend %titleStyle;
		a {
			display: block;
			@include rem('font-size', $baseline-px);
			line-height: 1.5;
		}
	}
	.b_logo {
		background-position: -12px -12px;
		width: 129px;
		height: 137px;
	}
}
#periscope {
	font-family: "news-gothic-std";
	.tumblr_link_post > a {
		@extend %titleStyle;
		@extend %upcase;
		color: $black;
		font-family: "alternate-gothic-no-1-d";
		font-weight: 100;
		@include rem('letter-spacing', $baseline-px * .125);
		&:hover {
			color: $orange;
		}
	}
	.b_logo {
		background-position: -10px -162px;
		width: 141px;
		height: 145px;
	}
}
#lightbox {
	.b_logo {
		background-position: -10px -344px;
		width: 162px;
		height: 74px;
	}
} 
#makeyourslikemine {
	h1, h2 ,h3, .tumblr_title {
		font-family: "ff-karbid-slab-web-pro";
	}
	font-family: "apertura";
	.b_logo {
		background-position: -4px -443px;
		width: 168px;
		height: 103px;
	}
} 



#eveningredness {
	h1, h2, h3 {
		font-family: "news-gothic-std";
	}
	font-family: "abril-display";
	.b_logo {
		background-position: -8px -576px;
		width: 167px;
		height: 173px;
	}
} 