#hello {
	.gform_title {
		display: none;
	}

	 p {
	 	margin: 0;
	 }
}
.socialLinks {
	@include rem('font-size', $baseline-px * 1.5);

	a {
		color: darken($grey, 20%);
		&:hover {
			color: $orange;
		}
	}
}

.gform_body, .gform_footer {
	max-width: 400px;
	margin: 0 auto;
	ul {
		list-style: none;
		margin: 0; 
		padding: 0;
	}
}

.gform_footer {
	@extend %center;
	.gform_button {
		display: inline-block;
		width: auto;
		background: none;
		border-color: $orange;
		@extend %upcase;
		color: $orange;
		

		@include rem('letter-space', $baseline-px/4);

		padding-top: 3px;
		&:hover {
			background: $orange;
			color: white;
		}
	}
}