/*.responsive-container iframe { 
	@extend %ab;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}*/

.single-series .page__Container {
	
	@include media(shortscreen) {
		max-width: 700px;
	}

	.playButton {
		display: none;
	}
}
.series__Container {
	@extend %rel;
	@extend %cf;
	margin: 0 auto;
	background: rgba($black, .85);
	@include rem('margin-top', $baseline-px * 3);
	@include rem('padding-bottom', $baseline-px * 1.5)
	


}
.series {
	@extend %cf;
	@include rem('padding', $baseline-px * 1.5);


	
	

	.project {
		&:not(.active) {
			@extend %hidden;
		}
		&.active {
			@extend %bl;
			@extend %float-left;
			background: white;
			@include rem('padding', $baseline-px * 2.5);

			@include media(tablet) {
				width: 50%;
			}
			@include media(desktop) {
				width: 420px;
			}
			@include media(shortscreen) {
				@include rem('padding-top', $baseline-px * 2);
				width: 50%;
			}
		}
		h2 {
			border-bottom: 2px solid $black;
			line-height: 1.35;
			margin-top: 0;
			@include rem('padding-bottom', $baseline-px);

		}
		p {
			margin: .25rem 0 0 0;
			@include rem('margin', $baseline-px/4 0 0 0);

		}
		p.collaborators p {
			display: inline;
		}
	}


}


#playArea {
	@extend %rel;
	width: 100%;
	height: auto;
	img {
		width: 100%; 
		height: auto;
	}

	.video {
		@extend %ab;
		width: 100%;
		height: 100%;
		
	}

	@include media(desktop) {
		min-height: 394px;
	}
}


.backToMainMenu {
	@extend %ab;
	color: $brown;
	@include rem('top', -($baseline-px * 2));

	&:hover {
		color: $orange;
	}
	span {
		vertical-align: middle;
		margin-left: 5px;
		font-style: italic;
	}
	@include media(notDesktop) {
		display: none;
	}
}


.series__Navigation {
	@extend %float-left;
	@extend %ul;
	@extend %cf;


	@include rem('padding-top', 4px);
	@include media(tablet) {
		width: 49%;
		padding-left: 16px;
	}
	@include media(desktop) {
		width: 50%;
		padding-left: 46px;
	}

	@include media(shortscreen) {
		width: 49%;

	}




	h3 {
		@extend %center;
		@extend %upcase;
		color: $yellow;
		@include rem('letter-spacing', $baseline-px * .125);

		font-weight: 100;

	}
	a {
		@extend %ib;
		width: 80px;
		height: 80px;

		overflow: hidden;
		font-size: 0;
		margin: 5px;
		@extend %center;
		img {
			max-width: none;
		}
	}

	//mobile
	@include media(mobile) {
		text-align: center;
		a {
			margin: 1px;
		}

	}

}