.page-work {
	
	.series-wrapper {
		
		
		position: absolute;
		z-index: 99999;
		top: 0;
		left: 0;
		right: 0;
		@include rem('bottom', $baseline-px );
		width: inherit;
		
		@include media(tablet) {
			
			@include rem('padding', 20px);
			top: auto;
			bottom: 56px;
			
		}
		
		@include media(desktop) {
			opacity: 0;
		}
	}
	.work-slide .series-wrapper {
		@include transition (all .25s ease-in-out);
	}
	.work-slide {
		//@include transition (all .125s ease-in-out);

		img {
			width: 100%;
			height: auto;
		}
	}
	.work-slide:hover {
		//background-size: 100.25% !important;
		//background-position: center center;
		@include media(desktop) {

			.series-wrapper {
				opacity: 1;
			}
		}
	}



	.series {
		background: rgba(255, 255, 255, 0.94);
		color: $color_body_copy;
		@include rem('padding', 12px);
		@extend %center;
		@include media(tablet) {
			text-align: left;
			@include rem('padding', 28px 20px 16px 20px);
		}
		
	}

	h2.series-title {
		@include rem('font-size', 30px);
		
		@include media(tablet) {
			@include rem('font-size', 40px);
		}
		
		@include media(desktop) {
			@include rem('font-size', 60px);
		}
		
		@extend %upcase;
		line-height: 1;
		margin: 0; padding: 0;
		font-weight: 700;
		color: $darkgrey;
	}
}

.series-wrapper .description {
	@include media(mobile) {
		opacity: 0;
		height: 0;
		overflow: hidden;
	}
}


.work-swiper {
	max-height: 1000px !important;
}

.pagination {
	@extend %fix;
	@extend %center;
	bottom: 0;
	z-index: 9999999999;
	background: $black;
	left: 0;
	right: 0;
	

}
.swiper-pagination-switch {
	width: 5px;
	height: 5px;
	border-radius: 10px;
	background: $yellow;
	display: inline-block;
	margin: 0 5px;
}

.swiper-active-switch {
	background: $orange;
}


.work-slide {
	cursor: pointer;
	@extend %rel;
}